{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage",
				"corejs": 3,
				"targets": {
					"esmodules": true
				}
				// "modules: false" is set in webpack loader config
				// so that we can use this config outside the bundle too
			}
		],
		"@babel/preset-typescript",
		"@babel/preset-react"
	],
	"plugins": [
		[
			"@babel/plugin-transform-runtime",
			{
				"corejs": 3,
				"useESModules": true,
				"version": "7.8.3"
			}
		],
		[
			"styled-jsx/babel",
			{
				"sourceMaps": true
			}
		]
	]
}
